* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    color: #EBE7EC;
    justify-content: space-between;
    background-color: #885BA6;
}

.nav-link {
    color: #F2A413;
    font-size: 20px;
    font-weight: 600;
}

.nav-link:hover {
    color: #F22294;
}

.logo-grego {
    width: 150px;
    margin-left: 20px;
}

#intro {
    background-color: gray;
    color: #EBE7EC;
}

#intro .IntroGrego {
    margin: 20px;
}

#intro h1 {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 45px;
}

.titulos {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2A413;
    font-weight: 600;
    padding-bottom: 20px;
}

h3 a{
    color: #F2A413;
    
}

h3 {
    padding: 15px;
}

#noticias {
    background-color: #F22294;
}

#noticias .card {
    background-color: #F2A413;
}

#noticias .card-title {
    color: #EBE7EC;
    font-weight: 600;
}

#noticias .card-text {
    text-align: justify;
}

.btn {
    background-color: #F2A413;
    color: #F22294;
    border-color: #F22294;
}

.btn:hover{
    background-color: #F22294;
}

.btn-primary {
    background-color: #885BA6;
    color: #EBE7EC;
    font-weight: 600;
    border-color: white;
}

.card-img-top {
    height: 300px;
}

#formulario {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background-color: #EBE7EC;
    padding: 20px 20px;
    grid-template-areas: 
    "titulos-1 titulos-1"
    "videoForm form"
    ;
}


#emailHelp {
    color: #885BA6;
}

#redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top; 
    height: 800px;  
    padding-top: 30px;
    background-color: whitesmoke;
}

#redes .twitter {
    padding-left: 100px;
}

#redes .instagram {
    padding-right: 100px;
}

footer {
    background-color: #885BA6;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer .bi bi-twitter {
    background-color: #EBE7EC;
}

p {
    color: #EBE7EC;
    font-weight: 600;
}



@media (max-width: 576px) {
   *{
    margin: 0;
    padding: 0;
   }
    
    #formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #redes {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}