* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    .navbar {
        color: #EBE7EC;
        justify-content: space-between;
        background-color: #885BA6;
    }
    .nav-link {
        color: #F2A413;
        font-size: 20px;
        font-weight: 600;
    }
    .nav-link:hover {
        color: #F22294;
    }
    .logo-grego {
        width: 150px;
        margin-left: 20px;
    }
    .bi {
        margin-right: 50px;
        color: #F2A413;
    }
    .bi:hover {
        color: #F22294;
    }
    .btn {
        background-color: #885BA6;
        color: #EBE7EC;
        font-weight: 600;
        border-color: white;
        transition: all 2s; 
    }
    .btn:hover{
        background-color: #04D9D9;
    }
    .btn:focus {
        width: 200px;
        font-size: 10PX;
        background-color: #04D9D9;
    }
}

#intro {
    background-color: gray;
    color: #EBE7EC;
    padding: 20px;
    .IntroGrego {
        margin: 20px;
    }
    p {
        font-size: 15px;
        text-align: justify;
        text-indent: 20px;
    }
    h1 {
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 45px;
    }    
}

#noticias {
    background-color: #F22294;
    padding-bottom: 20px;
    padding: 20px;
    .card {
        background-color: #F2A413;
    }
    .card-title {
        color: #EBE7EC;
        font-weight: 600;
    }
    .card-text {
        text-align: justify;
    }
    .card-img-top {
        height: 300px;
    }
    .titulos {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F2A413;
        font-size: 50px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .btn:hover{
        background-color: #04D9D9;
    }
    .btn-primary {
        background-color: #885BA6;
        color: #EBE7EC;
        font-weight: 600;
        border-color: white;
    }
}

#formulario {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 20px;
    grid-template-areas: 
    "titulos-1 titulos-1"
    "videoForm form"
    ;
    .titulos {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F2A413;
        font-size: 50px;
        font-weight: 600;
        padding-bottom: 20px;
    }
    .ratio {
        padding: 10px;
    }
    .form {
        padding: 40px;
        color: white;
    }
    .btn:hover{
        background-color: #04D9D9;
    }
    .btn-primary {
        background-color: #885BA6;
        color: #EBE7EC;
        font-weight: 600;
        border-color: white;
    }
}

footer {
    background-color: #885BA6;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    .bi {
        color: #EBE7EC;
    }
    .logo-grego {
        width: 150px;
        margin-left: 20px;
    }
    .bi {
        margin-right: 50px;
        color: #F2A413;
    }
    .bi:hover {
        color: #F22294;
    }
    
}

#redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top; 
    height: 800px;  
    padding-top: 30px;
    background-color: whitesmoke;
    .twitter {
        padding-left: 100px;
    }
    
    .instagram {
        padding-right: 100px;
    }
}


@media (max-width: 576px) {
    *{
     margin: 0;
     padding: 0;
    }
     
     #formulario {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
    #redes {
        display: flex;
        flex-direction: column;
    }
    .twitter {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        overflow-x: auto;
        margin-bottom: 20px;
        margin-right: 60px;
    }
    .instagram {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-x: auto;
    }
 }



